<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">book</a>
</div>

<br/>
<hr/>

<form action="/books/new">
    <button>Create book</button>
</form>

<br/>

<form action="/books/search">
    <button>Book search</button>
</form>

<br/>

<input type="button" onclick="history.back();" value="Back"/>

<br/>

<form action="/">
    <button>Home</button>
</form>

</body>
</html>